# Music Sales across Decades

- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv">Most sold LPs</a> in 1967.
- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv">Most streamed albums</a> in 2023.

Which albums stood out (AS IN THE BIGGEST)in terms of sales?

In [24]:
import pandas as pd
from IPython.display import display, HTML
## run the display code here
pd.options.display.float_format = '{:,.3f}'.format

## small trick to improve our display
## will allow us to see dataframes side-by-side
from IPython.display import display, HTML

In [25]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv")
dfs

lps = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv")
lps

,artist,album,sales,year
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967
1,THE DOORS,THE DOORS,20000000,1967
2,PATSY CLINE,GREATEST HITS,10000000,1967
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967
...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967

In [6]:
dfs

                                album  streams_2023
0          Manana Sera Bonito Karol G    5130293275
1   One Thing At A Time Morgan Wallen    4380347931
2                  Genesis Peso Pluma    3936960850
3                        Drive Tiesto    3876226367
4                       Meduza Meduza    3383108898
..                                ...           ...
95            Cracker Island Gorillaz     662551227
96                       Senaryo Adie     661023457
97             Dark Side Justine Skye     657963327
98                     Trustfall P!nk     654976412
99       Alone In A Crowd Oliver Tree     651784706

[100 rows x 2 columns]

In [26]:
from scipy.stats import zscore

In [27]:
dfs["fs_zscore"] = zscore(dfs["streams_2023"])

In [73]:
dfs
dfs["mod_streams"] = dfs.apply((lambda x: x["streams_2023"] / 1500), axis = 1)

In [76]:
dfs["mod_zscore"] = zscore(dfs["mod_streams"])

In [77]:
dfs

,album,streams_2023,fs_zscore,mod_streams,mod_zscore
0,Manana Sera Bonito Karol G,5130293275,3.962,"3,420,195.517",3.962
1,One Thing At A Time Morgan Wallen,4380347931,3.149,"2,920,231.954",3.149
2,Genesis Peso Pluma,3936960850,2.669,"2,624,640.567",2.669
3,Drive Tiesto,3876226367,2.603,"2,584,150.911",2.603
4,Meduza Meduza,3383108898,2.068,"2,255,405.932",2.068
...,...,...,...,...,...
95,Cracker Island Gorillaz,662551227,-0.882,"441,700.818",-0.882
96,Senaryo Adie,661023457,-0.883,"440,682.305",-0.883
97,Dark Side Justine Skye,657963327,-0.887,"438,642.218",-0.887
98,Trustfall P!nk,654976412,-0.890,"436,650.941",-0.890
99,Alone In A Crowd Oliver Tree,651784706,-0.893,"434,523.137",-0.893

In [28]:
lps["lp_zscore"] = zscore(lps["sales"])

In [74]:
lps.head(10)

,artist,album,sales,year,lp_zscore
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.897
1,THE DOORS,THE DOORS,20000000,1967,4.801
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.220
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.454
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.323
5,JIMI HENDRIX,ARE YOU EXPERIENCED,5125000,1967,0.962
6,BARBRA STREISAND,A CHRISTMAS ALBUM,5035000,1967,0.938
7,THE MONKEES,MORE OF THE MONKEES,5012400,1967,0.933
8,ELVIS PRESLEY,HOW GREAT THOU ART,3001070,1967,0.414
9,JOHNNY CASH,GREATEST HITS,2100000,1967,0.181

In [117]:
from sklearn.preprocessing import normalize

## pd.options.display.float_format = '{:,.3f}'.format
new_df = pd.concat([lps, dfs], axis = 1)

In [118]:
new_df

,artist,album,sales,year,lp_zscore,album,streams_2023,fs_zscore,mod_streams,mod_zscore
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.897,Manana Sera Bonito Karol G,"5,130,293,275.000",3.962,"3,420,195.517",3.962
1,THE DOORS,THE DOORS,20000000,1967,4.801,One Thing At A Time Morgan Wallen,"4,380,347,931.000",3.149,"2,920,231.954",3.149
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.220,Genesis Peso Pluma,"3,936,960,850.000",2.669,"2,624,640.567",2.669
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.454,Drive Tiesto,"3,876,226,367.000",2.603,"2,584,150.911",2.603
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.323,Meduza Meduza,"3,383,108,898.000",2.068,"2,255,405.932",2.068
...,...,...,...,...,...,...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967,-0.356,Trustfall P!nk,"654,976,412.000",-0.890,"436,650.941",-0.890
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967,-0.357,Alone In A Crowd Oliver Tree,"651,784,706.000",-0.893,"434,523.137",-0.893
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967,-0.360,NaN,NaN,NaN,NaN,NaN
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967,-0.360,NaN,NaN,NaN,NaN,NaN
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967,-0.361,NaN,NaN,NaN,NaN,NaN

In [141]:
## What stood out at biggest?
new_df.apply (lambda x: 'a sold album' if x["lp_zscore"] > x["fs_zscore"] else 'a streamed album', axis=1).head(1)

0    a sold album
dtype: object

In [139]:
new_df["winner"] = new_df.apply (lambda x: 'a sold album' if x["lp_zscore"] > x["fs_zscore"] else 'a streamed album', axis=1)

In [140]:
new_df

,artist,album,sales,year,lp_zscore,album,streams_2023,fs_zscore,mod_streams,mod_zscore,winner
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.897,Manana Sera Bonito Karol G,"5,130,293,275.000",3.962,"3,420,195.517",3.962,a sold album
1,THE DOORS,THE DOORS,20000000,1967,4.801,One Thing At A Time Morgan Wallen,"4,380,347,931.000",3.149,"2,920,231.954",3.149,a sold album
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.220,Genesis Peso Pluma,"3,936,960,850.000",2.669,"2,624,640.567",2.669,a streamed album
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.454,Drive Tiesto,"3,876,226,367.000",2.603,"2,584,150.911",2.603,a streamed album
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.323,Meduza Meduza,"3,383,108,898.000",2.068,"2,255,405.932",2.068,a streamed album
...,...,...,...,...,...,...,...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967,-0.356,Trustfall P!nk,"654,976,412.000",-0.890,"436,650.941",-0.890,a sold album
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967,-0.357,Alone In A Crowd Oliver Tree,"651,784,706.000",-0.893,"434,523.137",-0.893,a sold album
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967,-0.360,NaN,NaN,NaN,NaN,NaN,a streamed album
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967,-0.360,NaN,NaN,NaN,NaN,NaN,a streamed album
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967,-0.361,NaN,NaN,NaN,NaN,NaN,a streamed album

In [128]:
new_df.to_csv("new_df_1.csv")

In [ ]:
## The album that stood out the most was Sgt. Peppers Lonely Hearts Club by The Beatles - almost 8 above the std

In [89]:
df = pd.read_csv("new_df_2.csv")

In [95]:
top_ten = df.sort_values("sales", ascending = False).head(10)

In [96]:
top_ten["zscore"] = zscore(top_ten["sales"])

In [99]:
top_ten

                                     album          sales  zscore
0    SGT. PEPPER'S LONELY HEARTS CLUB BAND 32,000,000.000   2.540
1                                THE DOORS 20,000,000.000   1.172
2                            GREATEST HITS 10,000,000.000   0.032
3                     MAGICAL MYSTERY TOUR  7,032,199.000  -0.306
4                BOB DYLAN'S GREATEST HITS  6,525,000.000  -0.364
5                      ARE YOU EXPERIENCED  5,125,000.000  -0.523
6                        A CHRISTMAS ALBUM  5,035,000.000  -0.533
7                      MORE OF THE MONKEES  5,012,400.000  -0.536
103             Manana Sera Bonito Karol G  3,420,195.517  -0.718
8                       HOW GREAT THOU ART  3,001,070.000  -0.765

In [ ]:
##Even when converting streams to albums sales using RIAAs conversion formula, Sgt. Peppers Lonely Hearts Club Band comes out on top